#### Объединение наборов данных:

In [1]:
import pandas as pd
import numpy as np

In [2]:
def create_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, index = ind)

In [3]:
create_df('ABCD', [1,2,3,4])

    A   B   C   D
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

###### Конкатенация:

In [4]:
ser1 = pd.Series(['data1', 'data2', 'data3'], index = range(3))
ser2 = pd.Series(['data4', 'data5', 'data6'], index = range(3, 6))
print('First series obj:\n{}\n\nSecond series obj:\n{}\n'.format(ser1, ser2))
ser3 = pd.concat([ser1, ser2])
print('Concatinate of first and second series obj:\n{}\n'.format(ser3))

First series obj:
0    data1
1    data2
2    data3
dtype: object

Second series obj:
3    data4
4    data5
5    data6
dtype: object

Concatinate of first and second series obj:
0    data1
1    data2
2    data3
3    data4
4    data5
5    data6
dtype: object

In [5]:
df1 = create_df('ABCD', range(3))
df2 = create_df('ABCD', range(3,6))
print('First dataframe obj:\n{}\n\nSecond dataframe obj:\n{}\n'.format(df1, df2))
df3 = pd.concat([df1, df2])
print('Concatinate of first and second dataframe obj:\n{}\n'.format(df3))

First dataframe obj:
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

Second dataframe obj:
    A   B   C   D
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5

Concatinate of first and second dataframe obj:
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5

In [6]:
df4 = create_df('AB', range(2))
df5 = create_df('AB', range(2,4))
df5.index = df4.index
df6 = pd.concat([df4, df5], sort = True)
df7 = pd.concat([df4, df5], axis = 'columns')
print('First dataframe obj:\n{}\n\nSecond dataframe obj:\n{}\n'.format(df4, df5))
print('Concatinate of first and second dataframe obj without axis:\n{}\n'.format(df6))
print('Concatinate of first and second dataframe obj with axis = columns:\n{}\n'.format(df7))

First dataframe obj:
    A   B
0  A0  B0
1  A1  B1

Second dataframe obj:
    A   B
0  A2  B2
1  A3  B3

Concatinate of first and second dataframe obj without axis:
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

Concatinate of first and second dataframe obj with axis = columns:
    A   B   A   B
0  A0  B0  A2  B2
1  A1  B1  A3  B3

In [7]:
try:
    df8 = pd.concat([df4, df5], verify_integrity = True, sort = False)
except ValueError as e:
    print('Ошибка: {}\n'.format(e))
df9 = pd.concat([df4, df5], ignore_index = True)
print('Concatinate of first and second dataframe obj with ignore_index\n{}\n'.format(df9))
df10 = pd.concat([df4, df5], keys = ['df4', 'df5'])
print('Concatinate of first and second dataframe obj with keys\n{}\n'.format(df10))

Ошибка: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

Concatinate of first and second dataframe obj with ignore_index
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

Concatinate of first and second dataframe obj with keys
        A   B
df4 0  A0  B0
    1  A1  B1
df5 0  A2  B2
    1  A3  B3

In [10]:
df11 = create_df('ABC', range(2))
df12 = create_df('BCD', range(2,4))
df12.index = df11.index
df13 = pd.concat([df11, df12], ignore_index = True, sort = True)
print('Concatinate of first and second dataframe obj\n{}\n'.format(df13))

Concatinate of first and second dataframe obj
     A   B   C    D
0   A0  B0  C0  NaN
1   A1  B1  C1  NaN
2  NaN  B2  C2   D2
3  NaN  B3  C3   D3

In [12]:
df14 = pd.concat([df11, df12], ignore_index = True, sort = True, join = 'inner')
print('Concatinate of first and second dataframe obj with join = inner\n{}\n'.format(df14))

Concatinate of first and second dataframe obj with join = inner
    B   C
0  B0  C0
1  B1  C1
2  B2  C2
3  B3  C3

In [15]:
df15 = pd.concat([df11, df12], ignore_index = True, sort = True, join_axes = [df11.columns])
print('Concatinate of first and second dataframe obj with join_axes from df11\n{}\n'.format(df15))
df16 = pd.concat([df11, df12], ignore_index = True, sort = True, join_axes = [df12.columns])
print('Concatinate of first and second dataframe obj with join_axes from df12\n{}\n'.format(df16))

Concatinate of first and second dataframe obj with join_axes from df11
     A   B   C
0   A0  B0  C0
1   A1  B1  C1
2  NaN  B2  C2
3  NaN  B3  C3

Concatinate of first and second dataframe obj with join_axes from df12
    B   C    D
0  B0  C0  NaN
1  B1  C1  NaN
2  B2  C2   D2
3  B3  C3   D3

c:\users\zverb\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  """Entry point for launching an IPython kernel.
c:\users\zverb\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  This is separate from the ipykernel package so we can avoid doing imports until

###### Метод append:

In [30]:
df17 = pd.DataFrame({'column1':['name1', 'name2', 'name3'], 'column2':['name4', 'name5', 'name6']},\
                    index = ['ind1', 'ind2', 'ind3'])
df18 = pd.DataFrame({'column1':['name7', 'name8', 'name9'], 'column3':['name10', 'name11', 'name12']},\
                    index = ['ind1', 'ind2', 'ind3'])
print('First df:\n{}\nSecond df:\n{}\n'.format(df17, df18))
df19 = df17.append(df18, ignore_index=True)
print('Append df17 and df18:\n{}\n'.format(df19))

First df:
     column1 column2
ind1   name1   name4
ind2   name2   name5
ind3   name3   name6
Second df:
     column1 column3
ind1   name7  name10
ind2   name8  name11
ind3   name9  name12

Append df17 and df18:
  column1 column2 column3
0   name1   name4     NaN
1   name2   name5     NaN
2   name3   name6     NaN
3   name7     NaN  name10
4   name8     NaN  name11
5   name9     NaN  name12