In [1]:
import pandas as pd
import numpy as np

In [2]:
index_tup = [('Artyom', 2010), ('Sergey', 2010), ('Sergey', 2019), ('Leonid', 2010),
         ('Leonid', 2019)]
index = pd.MultiIndex.from_tuples(index_tup)
age = [16, 16, 23, 16, 23]
a = pd.Series(age, index=index_tup)
print(a)
a = a.reindex(index)
print(a)
print(a[:, 2010])
print(a[a>17])
a_df = a.unstack()
print('__________')
print(a_df)
a = a_df.stack()
print(a)

(Artyom, 2010)    16
(Sergey, 2010)    16
(Sergey, 2019)    23
(Leonid, 2010)    16
(Leonid, 2019)    23
dtype: int64
Artyom  2010    16
Sergey  2010    16
        2019    23
Leonid  2010    16
        2019    23
dtype: int64
Artyom    16
Sergey    16
Leonid    16
dtype: int64
Sergey  2019    23
Leonid  2019    23
dtype: int64
__________
        2010  2019
Artyom  16.0   NaN
Leonid  16.0  23.0
Sergey  16.0  23.0
Artyom  2010    16.0
Leonid  2010    16.0
        2019    23.0
Sergey  2010    16.0
        2019    23.0
dtype: float64

In [6]:
a_df = pd.DataFrame({'age': a, 'city': ['Moscow','Ufa','Moscow','Moscow','Moscow'], 'GOAT marks':[10, 10, 14, 11, 13]})
print(a_df)

Artyom  2010    16.0
Leonid  2010    16.0
        2019    23.0
Sergey  2010    16.0
        2019    23.0
dtype: float64
              age    city  GOAT marks
Artyom 2010  16.0  Moscow          10
Leonid 2010  16.0     Ufa          10
       2019  23.0  Moscow          14
Sergey 2010  16.0  Moscow          11
       2019  23.0  Moscow          13

In [7]:
data_0 = a_df['age'] / a_df['GOAT marks']
print(data_0)
print(data_0.unstack())

Artyom  2010    1.600000
Leonid  2010    1.600000
        2019    1.642857
Sergey  2010    1.454545
        2019    1.769231
dtype: float64
            2010      2019
Artyom  1.600000       NaN
Leonid  1.600000  1.642857
Sergey  1.454545  1.769231

In [3]:
# создание объектов с мультииндексами
ob_0 = pd.DataFrame(np.random.rand(4,3), index=[[1,1,1,2], [11,12,13,21]], columns=['c1', 'c2', 'c3'])
print(ob_0)
# явные конструкторы мультииндексов
i_0 = pd.MultiIndex.from_arrays([[1,1,1,2],[11,11,12,21],[111,112,121,211]])
ob_1 = pd.DataFrame(np.random.rand(4,2), index=i_0, columns=['col1', 'col2'])
print(ob_1)
i_1 = pd.MultiIndex.from_tuples([(1,11,111),(1,11,112),(1,12,121),(2,21,211)])
ob_2 = pd.DataFrame(np.random.rand(4,2), index=i_1, columns=['col1', 'col2'])
print(ob_2)
i_2 = pd.MultiIndex.from_product([[1,2],['a','b','c']])
ob_3 = pd.DataFrame(np.random.rand(6,2), index=i_2, columns=['col1', 'col2'])
print(ob_3)
i_3 = pd.MultiIndex.from_product([range(5),range(5)])
ob_4 = pd.DataFrame(np.random.rand(25,2), index=i_3, columns=['col1', 'col2'])
ob_4.index.names = ['f', 's']
print(ob_4)

            c1        c2        c3
1 11  0.575343  0.406237  0.492596
  12  0.606171  0.868763  0.536381
  13  0.779700  0.122634  0.986026
2 21  0.333809  0.965558  0.182877
              col1      col2
1 11 111  0.001593  0.526819
     112  0.944103  0.548041
  12 121  0.968083  0.911789
2 21 211  0.741178  0.201056
              col1      col2
1 11 111  0.694772  0.689620
     112  0.797372  0.157575
  12 121  0.287237  0.865550
2 21 211  0.279837  0.129321
         col1      col2
1 a  0.436564  0.987468
  b  0.170833  0.433701
  c  0.573867  0.834338
2 a  0.075705  0.617671
  b  0.604313  0.963607
  c  0.119630  0.370791
         col1      col2
f s
0 0  0.605050  0.014946
  1  0.703210  0.181358
  2  0.541141  0.930807
  3  0.782392  0.321524
  4  0.683099  0.313047
1 0  0.988696  0.399753
  1  0.723124  0.281693
  2  0.084962  0.319509
  3  0.161030  0.883218
  4  0.839509  0.608398
2 0  0.497474  0.953033
  1  0.931818  0.475673
  2  0.777495  0.529294
  3  0.338743  0.343511
  4  0.400054  0.614287
3 0  0.804412  0.860374
  1  0.898990  0.564884
  2  0.733613  0.205463
  3  0.577451  0.388876
  4  0.972565  0.958893
4 0  0.936161  0.815559
  1  0.700328  0.189702
  2  0.159902  0.134261
  3  0.263004  0.329519
  4  0.220416  0.438070

In [9]:
## мультииндексация для столбцов
# иерархия строк и столбцов
i_m = pd.MultiIndex.from_product([[2017, 2018, 2019], ['First visit', 'Second visit', 'Third visit', 'Fourth visit', 'Fifth visit']])
c_m = pd.MultiIndex.from_product([['Artyom', 'Sergey', 'Leonid', 'Denis'], ['HR(Pulse)', 'Temp']],
                                 names = ['Name', 'Parameters']) #имена можно здесь
# имитационные данные
data = np.round(np.random.randn(15,8), 1)
data[:, ::2] *= 10
data += 37
# объект DataFrame
health_stat = pd.DataFrame(data, index=i_m, columns=c_m)
health_stat.index.names = ['Year', 'Visit'] # а можно здесь
print(health_stat)

Name                 Artyom          Sergey          Leonid           Denis  \
Parameters        HR(Pulse)  Temp HR(Pulse)  Temp HR(Pulse)  Temp HR(Pulse)
Year Visit
2017 First visit       28.0  35.9      56.0  36.7      43.0  37.9      42.0
     Second visit      32.0  38.3      33.0  36.5      43.0  37.3      62.0
     Third visit       40.0  35.0      33.0  38.2      40.0  37.8      30.0
     Fourth visit      41.0  38.5      34.0  36.4      33.0  38.4      36.0
     Fifth visit       51.0  37.7      30.0  34.5      37.0  36.9      43.0
2018 First visit       19.0  38.3      37.0  37.8      31.0  38.0      13.0
     Second visit      39.0  37.4      62.0  36.6      52.0  38.2      34.0
     Third visit       33.0  35.8      39.0  39.8      41.0  36.6      38.0
     Fourth visit      37.0  38.0      38.0  36.7      45.0  36.0      47.0
     Fifth visit       39.0  36.5      31.0  36.3      44.0  36.0      15.0
2019 First visit       24.0  36.9      55.0  38.9      44.0  36.9      39.0
     Second visit      43.0  38.7      47.0  36.7      46.0  37.3      43.0
     Third visit       27.0  38.5      65.0  37.0      45.0  35.5      10.0
     Fourth visit      22.0  35.1      36.0  36.3      30.0  37.0      34.0
     Fifth visit       40.0  38.3      57.0  37.9      24.0  36.4      37.0

Name
Parameters         Temp
Year Visit
2017 First visit   36.5
     Second visit  36.9
     Third visit   35.7
     Fourth visit  39.5
     Fifth visit   36.6
2018 First visit   37.8
     Second visit  37.6
     Third visit   37.5
     Fourth visit  38.0
     Fifth visit   37.0
2019 First visit   37.9
     Second visit  35.6
     Third visit   37.4
     Fourth visit  37.2
     Fifth visit   38.2

In [10]:
# срезы
print(a[:,2010]) #по Series
print(a[a>17])
print(a['Leonid':'Sergey'])
print('________')
print(health_stat['Sergey','Temp']) #по DataFrame
print(health_stat.iloc[:2:,:])
print('________')
print(health_stat.loc[2017:2018, ('Sergey','Temp')])
index_slice = pd.IndexSlice
print(health_stat.loc[index_slice[:, 'Third visit'], index_slice['Leonid',:]])

Artyom    16.0
Leonid    16.0
Sergey    16.0
dtype: float64
Leonid  2019    23.0
Sergey  2019    23.0
dtype: float64
Leonid  2010    16.0
        2019    23.0
Sergey  2010    16.0
        2019    23.0
dtype: float64
________
Year  Visit
2017  First visit     36.7
      Second visit    36.5
      Third visit     38.2
      Fourth visit    36.4
      Fifth visit     34.5
2018  First visit     37.8
      Second visit    36.6
      Third visit     39.8
      Fourth visit    36.7
      Fifth visit     36.3
2019  First visit     38.9
      Second visit    36.7
      Third visit     37.0
      Fourth visit    36.3
      Fifth visit     37.9
Name: (Sergey, Temp), dtype: float64
Name                 Artyom          Sergey          Leonid           Denis  \
Parameters        HR(Pulse)  Temp HR(Pulse)  Temp HR(Pulse)  Temp HR(Pulse)
Year Visit
2017 First visit       28.0  35.9      56.0  36.7      43.0  37.9      42.0
     Second visit      32.0  38.3      33.0  36.5      43.0  37.3      62.0

Name
Parameters         Temp
Year Visit
2017 First visit   36.5
     Second visit  36.9
________
Year  Visit
2017  First visit     36.7
      Second visit    36.5
      Third visit     38.2
      Fourth visit    36.4
      Fifth visit     34.5
2018  First visit     37.8
      Second visit    36.6
      Third visit     39.8
      Fourth visit    36.7
      Fifth visit     36.3
Name: (Sergey, Temp), dtype: float64
Name                Leonid
Parameters       HR(Pulse)  Temp
Year Visit
2017 Third visit      40.0  37.8
2018 Third visit      41.0  36.6
2019 Third visit      45.0  35.5

In [11]:
# сортировка мультииндексов
i_sort = pd.MultiIndex.from_product([['b', 'a', 'c'], [3, 1, 2]])
s_sort = pd.Series(np.random.rand(9), index=i_sort)
print(s_sort)
try:
    print(s_sort['b':'c'])
except KeyError as error:
    print(error)
s_sort = s_sort.sort_index()
print(s_sort)
print(s_sort['b':'c'])

b  3    0.950853
   1    0.676158
   2    0.128539
a  3    0.147059
   1    0.526841
   2    0.973654
c  3    0.358257
   1    0.479523
   2    0.997292
dtype: float64
'Key length (1) was greater than MultiIndex lexsort depth (0)'
a  1    0.526841
   2    0.973654
   3    0.147059
b  1    0.676158
   2    0.128539
   3    0.950853
c  1    0.479523
   2    0.997292
   3    0.358257
dtype: float64
b  1    0.676158
   2    0.128539
   3    0.950853
c  1    0.479523
   2    0.997292
   3    0.358257
dtype: float64

In [12]:
# перегруппировка объектов по уровням
print(s_sort.unstack(level=0).stack())
print(s_sort.unstack(level=0))
print(s_sort.unstack(level=1))

1  a    0.526841
   b    0.676158
   c    0.479523
2  a    0.973654
   b    0.128539
   c    0.997292
3  a    0.147059
   b    0.950853
   c    0.358257
dtype: float64
          a         b         c
1  0.526841  0.676158  0.479523
2  0.973654  0.128539  0.997292
3  0.147059  0.950853  0.358257
          1         2         3
a  0.526841  0.973654  0.147059
b  0.676158  0.128539  0.950853
c  0.479523  0.997292  0.358257

In [13]:
# создание и перестройка индексов
s_sort_index = s_sort.reset_index()
print(s_sort_index)
s_sort_index = s_sort_index.set_index(['level_0','level_1'])
print(s_sort_index)

  level_0  level_1         0
0       a        1  0.526841
1       a        2  0.973654
2       a        3  0.147059
3       b        1  0.676158
4       b        2  0.128539
5       b        3  0.950853
6       c        1  0.479523
7       c        2  0.997292
8       c        3  0.358257
                        0
level_0 level_1
a       1        0.526841
        2        0.973654
        3        0.147059
b       1        0.676158
        2        0.128539
        3        0.950853
c       1        0.479523
        2        0.997292
        3        0.358257

In [14]:
# агрегирование данных DataFrame
health_mean_1 = health_stat.mean(level='Year')
health_mean_2 = health_stat.mean(level='Visit')
health_mean_3 = health_stat.mean(axis=1, level='Parameters')
print(health_mean_1['Artyom'])
print('________________')
print(health_mean_2['Sergey'])
print('________________')
print(health_mean_3['HR(Pulse)'])

Parameters  HR(Pulse)   Temp
Year
2017             38.4  37.08
2018             33.4  37.20
2019             31.2  37.50
________________
Parameters    HR(Pulse)       Temp
Visit
First visit   49.333333  37.800000
Second visit  47.333333  36.600000
Third visit   45.666667  38.333333
Fourth visit  36.000000  36.466667
Fifth visit   39.333333  36.233333
________________
Year  Visit
2017  First visit     42.25
      Second visit    42.50
      Third visit     35.75
      Fourth visit    36.00
      Fifth visit     40.25
2018  First visit     25.00
      Second visit    46.75
      Third visit     37.75
      Fourth visit    41.75
      Fifth visit     32.25
2019  First visit     40.50
      Second visit    44.75
      Third visit     36.75
      Fourth visit    30.50
      Fifth visit     39.50
Name: HR(Pulse), dtype: float64